<div class="d-flex justify-content-center">
  <div class="yt-container text-center" data-youtube-target="player">
    <iframe
      class="yt-player"
      src="<%= "#{question.song.youtube_url}&autoplay=1&enablejsapi=1" %>"
      frameborder="0"
      allow="autoplay; fullscreen; encrypted-media">
    </iframe>
    <div class="blur-overlay"></div>
  </div>
</div>
