// ==========================================================
// _reset.scss - Base styles & resets
// ==========================================================
@import "../base/variables";

* {
  font-family: $font-family;
}

body {
  -webkit-tap-highlight-color: transparent;
  background: $bg;
}

a {
  text-decoration: none;
  color: $black;
}

// Print utilities
@media print {
  .no-print {
    display: none !important;
  }
}
