<nav class="top-nav position-fixed top-0 start-0 end-0 d-flex justify-content-start align-items-center py-2 px-3">
  <%= link_to root_path do %>
    <%= image_tag "Logo_sans_nom_2.png", alt: "Home", class: "nav-icon-img" %>
  <% end %>
</nav>
