 <div class="d-flex justify-content-center my-4">
    <div class="yt-container my-4 text-center">
      <iframe class="yt-player"
        src="https://www.youtube.com/embed/K4dx42YzQCE?list=RDK4dx42YzQCE&enablejsapi=1&controls=1" frameborder="0"
        allow="autoplay"></iframe>
      <div class="blur-overlay"></div>
    </div>
  </div>
