  <div class="card-result text-center mt-5" style="position: relative; width: 100%; margin-bottom: 0;">
    <img src="<%= asset_path('and_the_winner_is.png') %>" style="width: 100%; display: block; opacity: 0.7;">
    <div style="position: absolute; bottom: 0; left: 0; right: 0; padding: 20px; color: #000; font-weight: bold; background: linear-gradient(to top, rgba(255, 200, 100, 0.8), rgba(255, 200, 100, 0));">
      <h1>Results</h1>
      <h2>King Of Pop !!!</h2>
      <p>1.000.000th in the world.</p>
      <p>"Back to Black" - Amy Winehouse<br>Fastest guess</p>
    </div>
  </div>



<%# https://www.facebook.com/sharer/sharer.php?u=<%= CGI.escape(result_url(@result)) %>
