<div class="container-100 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="buzzer d-flex justify-content-center align-items-center bg-orange-theme">
            <div><%= link_to "Quickplay", new_session_path %></div>
        </div>
    </div>
  <div class="bottom-buttons d-flex">
    <div class="button-left flex-grow-1 bg-orange-theme">Match</div>
    <div class="button-right flex-grow-1 bg-yellow-theme">Custom</div>
  </div>
  </div>
</div>
