<div class="container-100 d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-center align-items-center flex-grow-1">

<%= link_to new_session_path(mode: "quickplay"),
            onclick: "localStorage.removeItem('userSelfie')",
            class: "buzzer d-flex justify-content-center align-items-center bg-orange-theme" do %>
  Quickplay
<% end %>


  </div>
</div>
<div class="bottom-buttons d-flex">

<%= link_to new_session_path(mode: "match"),
            class: "button-center flex-grow-1 bg-yellow-theme" do %>
  Match
<% end %>

</div>
