.button-left, .button-right {
    padding: 8px;
    text-align: center;
    font-family: Jaro;
    font-size: 2em;
    color: #353535;
}

.button-left {
    background-color: #FF9500;
}

.button-right {
    background-color: #FFD700;
}