.buzzer {
    width: 260px;
    height: 260px;
    // background-color: orange-theme;
    background-color: orange;
    border-radius: 50%;
    font-family: Jaro;
    font-size: 2em;
    color: #353535;
}