#userPhoto {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: none; 
    border-radius: 8px;
}

#defaultPhoto {
    width: 100%;
    display: block;
    opacity: 0.7;
}

.stats-container {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    padding: 20px; 
    color: #000; 
    font-weight: bold; 
    background: linear-gradient(30deg, rgba(255, 200, 100, 0.8),  rgba(255, 200, 100, 0.6) 40%, rgba(255, 200, 100, 0) 60%);
    border-radius: 8px;
}

.stats-top {

}

.card-result {
    position: relative;
}