.stats-container {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    padding: 20px; 
    color: #000; 
    font-weight: bold; 
    background: linear-gradient(to top, rgba(255, 200, 100, 0.8), rgba(255, 200, 100, 0));
}

.stats-top {

}