.container-100 {
    height: 75vh;
    width: 100vw;
}

.container-45 {
  height: 45vh;
}

.container-30 {
  height: 30vh;
}

.feedback-over {
  background-color: rgba($color: #000000, $alpha: 0.6);
  color: white;
  padding: 8px;
  border-radius: 16px;
  top: 2vh;
  left: 2vw;
  margin: 0 auto;
}
