.navbar-lewagon {
  justify-content: space-between;
  background: #9D4EDD;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
